* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Gothic A1', sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	color: #ffffffe6;
	user-select: none;
}

#scoreboard {
	background-color: #0000005e;
	width: 600px;
	height: 600px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	overflow: auto;
	display: none;
}

#scoreboard table {
	width: 100%;
	border-collapse: collapse;
}

#scoreboard td, #scoreboard th {
	padding: 15px 20px;
	text-align: left;
}

#scoreboard_header {
	background-color: #00000086;
	font-family: 'Poiret One', cursive;
	font-size: 20px;
}

#scoreboard td {
	padding: 10px 20px;
	text-align: left;
}

#voice_chats {
	position: absolute;
	left: 30px;
	bottom: 50%;
	height: 200px;
	overflow: clip;
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
	margin-bottom: 15px;
}

#spawn_menu {
	display: none;
	position: absolute;
	top: 150px;
	left: 200px;
	right: 200px;
	bottom: 150px;
	background-color: rgba(0, 0, 0, 0.5);
}

.voice_chat {
	background-color: #0000003d;
	position: relative;
	margin-top: 5px;
	padding: 10px 15px 10px 45px;
	font-size: 18px;
	font-weight: normal;
	background-image: url('./images/sound.png');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 15px 50%;
}

#notifications {
	position: absolute;
	left: 30px;
	width: 550px;
	top: 50%;
	height: 200px;
	overflow: clip;
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
	margin-top: 15px;
}

.notification {
	background-color: #0000003d;
	position: relative;
	margin-top: 5px;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: normal;
}

#weapon_ammo_container {
	display: none;
	position: absolute;
	right: 30px;
	bottom: 30px;
	height: 55px;
	background-color: #0000003d;
	text-align: right;
	padding: 0px 10px;
}

#weapon_ammo_separator {
	font-weight: bold;
	font-size: 16px;
}

#weapon_ammo_bag {
	font-weight: bold;
	font-size: 16px;
}

#weapon_ammo_clip {
	font-weight: bold;
	font-size: 32px;
	line-height: 55px;
}


#health_container {
	margin-left: auto;
    margin-right: auto;
	width: 100%;
    height: 3%;
    background: rgb(9, 230, 20);

    position: absolute;
	display: flex;
	top:445%;
	left: 190%;
	bottom: 100%;
	
}

#health_container img {
	height: 25px;
	margin-right: 100px;
    margin-left: 100px;
}

#health_current {
	font-size: 2vh;
	color: green;
	font-weight: bold;
	text-shadow: -1px -1px 0 rgb(16, 212, 42), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    height:400%;
	
	position: absolute;
	display: flex;
  	left: 70%;
  	bottom: 300%;
  	margin: 0 auto;
}


#armor_container {
	margin-left: auto;
    margin-right: auto;
	width: 100%;
    height: 3%;
    background: rgb(9, 13, 230);

    position: absolute;
	display: flex;
	top:440%;
	left: 190%;
	bottom: 100%;
	
  	
  	
}

#armor_current {
	font-size: 2vh;
	color: rgb(4, 8, 224);
	font-weight: bold;
	text-shadow: -1px -1px 0 rgb(5, 20, 219), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	height: 400%;

	position: absolute;
	display: flex;
  	left: 50%;
  	bottom: 140%;
  	margin: 0 auto;

}



#mainScore{

  	text-align: center;
    justify-content: center;
    position: relative;
    top: 10px;
  
}

#mainHealthAndArmorHUD{
	text-align: center;
    justify-content: center;
    position: relative;
	width: 20%;
	height: 20%;
	margin: auto 0;
    
}



#scoreTime{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 20px;
    color: rgb(250, 250, 250);
    font-weight: bold;
}



/* friendly side of the score */


#scoreFriendly_container {
    width: 200px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(9, 204, 230);

    position: absolute;
    right: 205;
    left: 0;
    top: 40;
    bottom: 0;
    margin: auto;
    

}


#scoreFriendlyPoints_current {
    position: absolute;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    bottom: 14px;
    left: 25px;
    font-size: 15px;
    color: rgb(9, 204, 230);
    font-weight: bold;
    
}


#scoreFriendlyTeam_current {
    position: absolute;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    bottom: 14px;
    left: 0px;
    font-size: 15px;
    color: rgb(9, 204, 230);
    font-weight: bold;
    
}

/* ------------------------------*/


/* Enemy side of the score */



#scoreEnemy_container {
    width: 200px;
    height: 10px;
    background: rgb(230, 97, 9);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    left: 205;
    top: 40;
    bottom: 0;
    margin: auto;

}


#scoreEnemyPoints_current {
    position: absolute;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    bottom: 14px;
    right: 25px;
    font-size: 15px;
    color: rgb(230, 97, 9);
    font-weight: bold;

}

#scoreEnemyTeam_current {
    position: absolute;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    bottom: 14px;
    right: 0px;
    font-size: 15px;
    color: rgb(230, 97, 9);
    font-weight: bold;
    
}

/* ------------------------------*/


/* loadout UI */
#mainLoadoutUI{
	width: 10%;
	height: 50%;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	color: rgb(9, 215, 230);

	position: relative;
	top: 40%;
	right: 2%;
	float: right;
	margin: auto 0;
	
	
}
#clip_current{
	font-size: 3vh;

	position: absolute;
	left: 60%;
	top: 40%;
}

#mag_current{
	font-size: 2vh;

	position: absolute;
	left: 69%;
	top:52%;
}

#guntitle_current{
	font-size: 1.5vh;

	position: absolute;
	left: 64%;
	top:30%;
}

#loadoutUIContainer{
	width:100%;
	height: 50%;
	background: rgba(12, 197, 221, 0.5);
	

	position: absolute;
	top: 20%;
}

#primaryGunUIContainer{
	width:50%;
	height: 10%;
	background: rgb(8, 132, 233,0.9);

	position: absolute;
	top: 20%;
}
#secondayGunUIContainer{
	width:47%;
	height: 10%;
	background: rgba(8, 132, 233, 0.541);

	position: absolute;
	top: 20%;
	left: 52%;
}


/*-----------------*/


#spawn_list {
	padding: 5px 20px 5px 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	bottom: 0;
	top: 60px;
	left: 60px;
	right: 0;
	grid-template-columns: repeat(auto-fill, 100px);
	justify-content: space-between;
	display: grid;
	grid-gap: 5px;
}

.spawn_item {
	cursor: pointer;
	width: 100px;
	padding: 5px;
	text-align: center;
	display: inline-block;
}

.spawn_item:hover {
	background-color: #c1c1c147;
}

.spawn_item_image {
	display: inline-block;
	width: 100%;
	height: 100px;
	background-size: 100% auto;
	background-position: 50%;
	pointer-events: none;
	background-repeat: no-repeat;
	border-radius: 1px;
}

.spawn_item_name {
	text-align: center;
	display: inline-block;
	font-size: 12px;
	margin-top: 5px;
	overflow: hidden;
	height: 30px;
	pointer-events: none;
	word-wrap: break-word;
}

#spawn_categories {
	background-color: rgba(0, 0, 0, 0.1);
	width: 60px;
	position: absolute;
	bottom: 0;
	top: 60px;
	left: 0;
	overflow-y: scroll;
}

.spawn_category {
	display: block;
	margin: 14px;
	cursor: pointer;
	text-align: center;
	background-image: url('images/chair.png');
	height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}

.spawn_category.active {
	cursor: default;
	pointer-events: none;
}

#spawn_options {
	background-color: rgba(0, 0, 0, 0.1);
	width: 200px;
	position: absolute;
	bottom: 0;
	top: 60px;
	right: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	display: none;
}

.spawn_option {
	padding: 15px;
	display: block;
	background-color: rgba(0, 0, 0, 0.25);
}

.spawn_option_label {
	margin-bottom: 10px;
	display: block;
}

.spawn_option_checkbox {
	display: block;
	grid-template-columns: repeat(auto-fill, 40px);
	justify-content: space-between;
	display: grid;
	grid-gap: 10px;
	max-height: 300px;
	overflow-y: scroll;
	padding: 3px;
}

.spawn_option_checkbox_item {
	width: 40px;
	height: 40px;
	display: inline-block;
	cursor: pointer;
	background-size: 100%;
}

.spawn_option_checkbox_item.selected {
	outline: 3px solid #fff;
}

#tabs {
	height: 60px;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	font-size: 20px;
	overflow-y: scroll;
}

.tab {
	cursor: pointer;
	display: inline-block;
	height: 100%;
	padding: 0px 20px;
	line-height: 60px;
}

.tab.active {
	color: #e8b656;
	cursor: default;
	pointer-events: none;
}

.tab.disabled {
	color: #999999;
	cursor: default;
	pointer-events: none;
}

.tab_name {
	pointer-events: none;
}

.tab img {
	width: 25px;
	pointer-events: none;
	vertical-align: middle;
	margin: 0 10px 2px 0;
}

#label {
	background-color: #0000007d;
	position: absolute;
	bottom: -30px;
	right: 0;
	padding: 5px 10px;
	opacity: 0;
	font-size: 14px;
	height: 20px;
}

#popup_prompt {
	background-color: #000000c2;
	width: 800px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	text-align: center;
	height: 110px;
	display: none;
}

#popup_prompt #popup_text {
	background-color: #00000077;
	font-size: 20px;
	font-family: 'Poiret One', cursive;
	height: 50px;
	line-height: 50px;
	pointer-events: none;
}

#popup_prompt #popup_input {
	width: 750px;
	height: 30px;
	margin-top: 15px;
	background: #000;
	border: none;
	color: white;
	padding: 5px;
}

#popup_prompt #popup_close {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
	border: 1px solid red;
	line-height: 15px;
	color: red;
	background: transparent;
	cursor: pointer;
}

#context_menu {
	background-color: #0000005e;
	position: absolute;
	right: 30px;
	bottom: 50%;
	width: 500px;
	display: none;
}

#context_menu_header {
	background-color: #00000086;
	font-family: 'Poiret One', cursive;
	height: 50px;
	text-align: center;
	line-height: 45px;
	font-size: 25px;
	cursor: default;
}

#context_menu_close {
	position: absolute;
	right: 15px;
	color: #ff2626;
	font-family: Gothic A1;
	border: 1px solid;
	padding: 0;
	height: 30px;
	width: 30px;
	top: 10px;
	line-height: 32px;
	font-size: 20px;
	cursor: pointer;
}

#context_menu_close:hover {
	color: #b31c1c;
}

.context_menu_item {
	padding: 10px;
}

.context_menu_label {
	display: block;
	font-weight: bold;
	cursor: default;
}

#time_of_day_slide {
	width: 100%;
}

#context_menu_keybindings input {
	height: 30px;
	width: 30px;
	text-transform: uppercase;
	margin: 5px;
	text-align: center;
}