* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Gothic A1', sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	color: #ffffffe6;
	user-select: none;
}

#scoreboard {
	background-color: #0000005e;
	width: 600px;
	height: 600px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	overflow: auto;
	display: none;
}

#scoreboard table {
	width: 100%;
	border-collapse: collapse;
}

#scoreboard td, #scoreboard th {
	padding: 15px 20px;
	text-align: left;
}

#scoreboard_header {
	background-color: #00000086;
	font-family: 'Poiret One', cursive;
	font-size: 20px;
}

#scoreboard td {
	padding: 10px 20px;
	text-align: left;
}

@font-face {
    font-family: PuristaLight;
    src: url(fonts/purista_light.otf);
}

@font-face {
    font-family: PuristaMedium;
    src: url(fonts/purista_medium.otf);
}

@font-face {
    font-family: PuristaBold;
    src: url(fonts/purista_bold.otf);
}

#weapon_hud_container {
    display: block;
    position: absolute;
    right: 3%;
    bottom: 6%;
    height: 15%;
    width: 22.25%;
    background-color: rgba(15, 15, 15, 0.0);
    transform: skewY(2deg);
    color: rgba(9,255,230,1);
}

#weapon_ammo_separator {
    position: absolute;
    font-family: PuristaLight;
    font-weight: bold;
    font-size: 1.75vw;
    text-align: right;
    vertical-align: top;
    right: 15%;
    top: 10%;
    color: rgba(150,255,230,0.85);
}

#weapon_ammo_bag {
    position: absolute;
    font-family: PuristaMedium;
    font-weight: bold;
    font-size: 1.15vw;
    text-align: right;
    vertical-align: top;
    letter-spacing: 2px;
    right: 0.5%;
    bottom: 68%;
    color: rgba(9,255,230,0.95);
    /*text-shadow: 0px 0px 2px rgba(50,255,227, 0.75);*/
}

#weapon_ammo_bag_greyed {
    position: absolute;
    font-family: PuristaMedium;
    font-weight: bold;
    font-size: 1.15vw;
    text-align: right;
    vertical-align: top;
    letter-spacing: 2px;
    right: 0.5%;
    bottom: 68%;
    color: rgba(198, 243, 222, 0.25);
    text-shadow: 0px 0px 2px rgba(198, 243, 222, 0.35);
}

#weapon_ammo_clip {
    position: absolute;
    font-family: PuristaMedium;
    font-weight: bold;
    font-size: 550%;
    font-size: 3vw;
    text-align: left;
    letter-spacing: 6px;
    bottom: 52%;
    right: 20%;
    color: rgba(9,255,230,1);
    /*text-shadow: 0px 0px 2px rgba(198, 243, 222, 0.75);*/
}

#weapon_ammo_clip_greyed {
    position: absolute;
    font-family: PuristaMedium;
    font-weight: bold;
    font-size: 550%;
    font-size: 3vw;
    text-align: left;
    letter-spacing: 6px;
    bottom: 52%;
    right: 20%;
    color: rgba(198, 243, 222, 0.25);
    text-shadow: 0px 0px 2px rgba(198, 243, 222, 0.35);
}

#primary_container {
    position: absolute;
    width: 27.5%;
    height: 35%;
    background-color: rgba(9, 255, 230, 0.65);
    top: 60%;
    margin-top: 1%;
}

#secondary_container {
    position: absolute;
    width: 27.5%;
    height: 35%;
    background-color: rgba(9,255,230,0.65);
    top: 60%;
    left: 28%;
    margin-top: 1%;
}

#gadgets_container {
    position: absolute;
    width: 14.25%;
    height: 35%;
    background-color: rgba(9,255,230,0.65);
    top: 60%;
    left: 56%;
    margin-top: 1%;
}

#support_container {
    position: absolute;
    width: 14.25%;
    height: 35%;
    background-color: rgba(9,255,230,0.65);
    top: 60%;
    left: 70.75%;
    margin-top: 1%;
}

#grenade_container {
    position: absolute;
    width: 14.25%;
    height: 35%;
    background-color: rgba(9,255,230,0.65);
    top: 60%;
    left: 85.50%;
    margin-top: 1%;
}

#equipment_logo {
    position: absolute;
    width: 10%;
    height: 20%;
    top: 67%;
    left: 7%;
}

#health_logo {
    position: absolute;
    font-family: PuristaBold;
    font-size: 1.7vw;
    color: rgb(70, 255, 96);
    top: 36%;
    left: 88%;
}

#health_bar {
    position: absolute;
    width: 100%;
    height: 5%;
    background-color: rgb(70, 255, 96);
    top: 57%;
}

#primary_ammo {
    position: absolute;
    font-family: PuristaMedium;
    font-weight: bold;
    letter-spacing: 0.1vw;
    font-size: 0.7vw;
    text-align: right;
    vertical-align: top;
    top: 85%;
    left: 22%;
    color: rgb(60, 60, 60)
}

#health_status {
    position: absolute;
    letter-spacing: 0.01vw;
    font-size: 0.8vw;
    text-align: right;
    vertical-align: top;
    top: 45%;
    left: 93%;
    color: rgb(70, 255, 96);
    font-family: PuristaBold;
}

#health_container {
    position: absolute;
    bottom: 30px;
    left: 30px;
    height: 0.75%;
    width: 10%;
    background-color: rgba(25, 25, 25, 0.75);
    border: 3px solid black;
    line-height: 60px;
}

#health_current {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 1.0);
}


#armor_container {
	margin-left: auto;
    margin-right: auto;
	width: 100%;
    height: 3%;
    background: rgb(9, 13, 230);

    position: absolute;
	display: flex;
	top:440%;
	left: 190%;
	bottom: 100%;
	
  	
  	
}

#armor_current {
	font-size: 25px;
	color: rgb(4, 8, 224);
	font-weight: bold;
	text-shadow: -1px -1px 0 rgb(5, 20, 219), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	height: 400%;

	position: absolute;
	display: flex;
  	left: 50%;
  	bottom: 140%;
  	margin: 0 auto;

}



#mainScore{

  	text-align: center;
    justify-content: center;
    position: relative;
    top: 10px;
  
}

#mainHealthAndArmorHUD{
	text-align: center;
    justify-content: center;
    position: relative;
	width: 20%;
	height: 20%;
	margin: auto 0;
    
}



#scoreTime {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 0.9vw;
    color: rgba(250, 250, 250, 0.85);
    letter-spacing: 0.2vw;
    font-family: PuristaMedium;
}



/* friendly side of the score */


#scoreFriendly_container {
    width: 200px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(9,255,230,1);
    position: absolute;
    font-family: PuristaMedium;
    right: 205;
    left: 0;
    top: 40;
    bottom: 0;
    margin: auto;
}


#scoreFriendlyPoints_current {
    position: absolute;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.35), 1px -1px 0 rgba(0, 0, 0, 0.35), -1px 1px 0 rgba(0, 0, 0, 0.35), 1px 1px 0 rgba(0, 0, 0, 0.35);
    bottom: 14px;
    left: 25px;
    font-size: 0.85vw;
    color: rgba(9,255,230,1);
    font-weight: bold;
}


#scoreFriendlyTeam_current {
    position: absolute;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.35), 1px -1px 0 rgba(0, 0, 0, 0.35), -1px 1px 0 rgba(0, 0, 0, 0.35), 1px 1px 0 rgba(0, 0, 0, 0.35);
    bottom: 14px;
    left: 0px;
    font-size: 0.85vw;
    color: rgba(9,255,230,1);
    font-weight: bold;
}

/* ------------------------------*/


/* Enemy side of the score */



#scoreEnemy_container {
    width: 200px;
    height: 10px;
    background: rgb(230, 97, 9);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: PuristaMedium;
    right: 0;
    left: 205;
    top: 40;
    bottom: 0;
    margin: auto;
}


#scoreEnemyPoints_current {
    position: absolute;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.35), 1px -1px 0 rgba(0, 0, 0, 0.35), -1px 1px 0 rgba(0, 0, 0, 0.35), 1px 1px 0 rgba(0, 0, 0, 0.35);
    bottom: 14px;
    right: 25px;
    font-size: 0.85vw;
    color: rgb(230, 97, 9);
    font-weight: bold;
}

#scoreEnemyTeam_current {
    position: absolute;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.35), 1px -1px 0 rgba(0, 0, 0, 0.35), -1px 1px 0 rgba(0, 0, 0, 0.35), 1px 1px 0 rgba(0, 0, 0, 0.35);
    bottom: 14px;
    right: 0px;
    font-size: 0.85vw;
    color: rgb(230, 97, 9);
    font-weight: bold;
}

/* ------------------------------*/


/* loadout UI */
#mainLoadoutUI{
	width: 10%;
	height: 20%;
	

	position: relative;
	top: 55%;
	right: 2%;
	float: right;
	margin: auto 0;
	
	
}
#ammo_current{
	position: absolute;
}

#loadoutUIContainer{
	width:100%;
	height: 80%;
	background: blue;
	

	position: absolute;
	top: 20%;
}


/*-----------------*/

/* ----------------*/

/* Change Class UI*/

#class_menu{
    width: 40%;
	height: 20%;
	background:rgba(198, 243, 222, 0.25);
    display:none;

   position: relative;
   top: 20%;
   left: 30%;
	
}

#classButtons{
    width: 100%;
	background:rgb(218, 7, 7);
}

#classButtons:hover{
   
	background:rgba(49, 221, 33, 0.952);
}











/*-----------------*/